<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd"
     default-lazy-init="true">
	<!-- 配置注解扫描 -->
	<context:component-scan base-package="com.wzk.mvc.service" />
	<context:component-scan base-package="com.wzk.task" />
	<task:scheduler id="taskScheduler" pool-size="100" />
	<task:scheduled-tasks scheduler="taskScheduler">
		<task:scheduled ref="myJob" method="execute1" cron="10 02,12,22,32,42,52 10-21 * * ?" />
		<task:scheduled ref="myJob" method="execute1" cron="10 02,07,12,17,22,27,32,37,42,47,52,57 22-23 * * ?" />
		<task:scheduled ref="myJob" method="execute1" cron="10 02,07,12,17,22,27,32,37,42,47,52,57 00-01 * * ?" />
	</task:scheduled-tasks>
</beans>